.pokedex-navbar .nav-btn {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.pokedex-navbar .nav-btn.active {
  border-bottom: 2px solid #00ffcc;
}

.add-btn {
  color: #00ffcc !important;
  font-weight: bold;
}

.logout-btn, .login-btn {
  margin-left: 15px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.logout-btn:hover, .login-btn:hover {
  text-decoration: underline;
}